# Ignore SQLTools temporary sessions and local SQL query logs
*.session.sql
*.sql.tmp

# Environment & Secrets
.env
*.env
*.pem
*.key

# IDEs & System Files
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Maven / Gradle Build Directories
**/target/
**/build/
**/.gradle/
*.class
*.jar

# Logs
*.log
